@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="/User/Add">
    <div>
        <label for="UserName">Username:</label>
        <input type="text" id="UserName" name="UserName" required>
    </div>
    <div>
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" required>
    </div>
    <!-- Add other input fields for the remaining properties -->

    <button type="submit">Submit</button>
</form>